<div class="row">
  <div class="side"></div>
  <div class="center">
    <p class="text">"Lieferschein number"</p>
    <div class="custom_view">
    <mat-form-field class=" custom_view--number">
      <mat-select [(value)]="selectedData" (selectionChange)= onChange()>
        <mat-option *ngFor="let number of data" [value]="number">{{number}}</mat-option>
      </mat-select>
    </mat-form-field>
    <span flex></span>
    <p class=" custom_view--letter">m3</p>
  </div>
  </div>
  <div class="side"></div>
</div>